@import "tailwindcss";

@theme inline {
  --font-open-sans: var(--font-open-sans);
  --color-primary-color: #00c1ff;
  --color-secondary-color: #00369b;
}

body {
  font-family: var(--font-open-sans);
}
